.action-table-buttons {
    display: flex;
    flex-direction: row;
}

.action-table-buttons button {
    margin: 0 10px;
    width: max-content;
    height: 30px;
    border-radius: 5px;
    color: var(--white-color);
}

.action-table-buttons .specific {
    background-color: var(--background-color);
    border-color: var(--background-color);
}

.action-table-buttons .delete {
    background-color: var(--delete-color);
    border-color: var(--delete-color);
}

.button-create {
    border-radius: 5px;
    width: 140px;
    height: 40px;
    font-size: 15px;
    margin: 10px 0px;
    background-color: var(--background-color);
    border-color: var(--background-color);
}

button a {
    color: var(--white-color);
    text-decoration: none !important;
}

button a:hover {
    color: var(--white-color);
    text-decoration: none !important;
}