.main_background {
    background-color: var(--background-color);
    background-image: linear-gradient(to bottom right, var(--background-color), black);
    height: 100vh;
}

.main-content {
    background-color: var(--white-color);
    margin: 10% auto;
    width: 50%;
    height: fit-content;
    border-radius: 4px;
    padding: 10px;
}

.home-photo {
    height: 125px;
    width: 150px;
    border-radius: 20px;
    border: 3px solid var(--background-color);
}

.home_user_data {
    display: flex;
    justify-content: space-between;
}

.home-list {
    list-style: none;
}

.home-text,
.home-list li {
    font-size: 20px;
    color: var(--background-color);
}